@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');

// Set your brand colors
$dark-blue: #4062bb;
$aqua-blue: #59c3c3;
$light-grey: #ebebeb;
$coral: #f45b69;

$link: $aqua-blue;

$family-sans-serif: "Quicksand", sans-serif;

$button-background-color: $coral;


.navbar{
    position: fixed !important;
    width: 100vw;
}
.navfill{
    position: relative;
    height: 50px;
    

}
.navbar-item img {
    max-height: 2.5rem !important
}

.button {
    color: white !important
}
.search-column{
    text-align: left
}

.hero-bg {
    background-image: url(/header_LQ2.jpg) ;
    background-position: 50% 48%;
    background-repeat:  no-repeat;
    background-size:  cover;
    height: 55vh;
    background-color: #999;
}

.title {
    font-family: 'Markazi Text', serif;
}

.modal-offer-title {
    font-family: 'Markazi Text', serif;
    font-weight: lighter;
    font-size: 3em;
}

.modal-image {
    padding: 0 !important
}

.page-numbers-column {
    margin: 0 !important;
}

.box {
    border-radius: 0;
    padding: 20px 0;
}

.tile.is-ancestor {
    width: 100%;
    margin: -12px 0;
}

.footer {
    background-color: lightgrey;
    padding-bottom: 30px;
    padding-top: 30px;
    bottom: 0px;
    position: relative;
}

.footer-img {
    width: 100px;
    height: auto;
    margin: 20px 0;
}

.is-success {
    background-color: $dark-blue !important;
}

.is-link {
    background-color: $dark-blue !important;
}

.button.is-warning {
    color: #363636 !important;
}

.dialog-container {
    background-color: transparent;
}

.page-numbers { cursor: pointer; }

.menu-list a.is-active {
    background-color: $coral;
}

.inactive {
    background-color: transparent;
}

.has-notification {
    background-color: hsl(48, 100%, 67%);
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";